
ion-menu-button {
    color: var(--ion-color-primary);
}
ion-menu{
    
    ion-content {
    --background:var(--ion-color-primary) !important;
    }
    ion-list{ 
    --ion-item-background:var(--ion-color-primary) !important;
    }     
    ion-list-header{
    --background:var(--ion-color-primary) !important ;
    font-size: x-large;
    font-weight: bold;
    margin-top: -26px;
    text-align: center;
    }
   ion-note{
    color:var(--ion-color-primary-contrast);
    }
    ion-label{
    font-weight: bold !important;
    font-size: large;
    }

}
ion-split-pane {
   
        ion-menu{
            --width: 40%;
        }
   
    --side-max-width: 200px;
    --side-min-width: 100px;
  
}


// @media only screen and (max-width: 200px){
//     ion-split-pane {
//         --side-max-width: 60px;
//         --side-min-width: 10px;
//         --side-width:30px;
      
//     }
// }

//   appcomp
