<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>Menu</ion-list-header>
        <ion-note>Mr. User Name</ion-note>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <!-- <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon> -->
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!-- 
    ======= Main content ========
    -->
  <ion-content id="main-content">
    <ion-header [translucent]="true" >
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <app-profile-menu></app-profile-menu>
        </ion-buttons>
        <ion-title>{{ feature }}</ion-title>
      </ion-toolbar>
    </ion-header>
      <ion-content [fullscreen]="true" style="border-style: dotted;">


      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </ion-content>
</ion-split-pane>
