ion-menu-button {
    color: var(--ion-color-primary);
}

ion-menu {
    color: var(--ion-color-primary);
    --background: color(var(--ion-color-primary));
    --background-color: var(--ion-color-primary);
    ion-content{
        background: transparent;
    }
}

ion-split-pane {
    --border: 1px solid;
    --side-max-width: 300px;
    --side-min-width: 100px;
    --side-width: 200px;
}



//   appcomp
